p{color:blue;}
h1{color:blueviolet;}

p,h1{font-style: italic;
    font-family: 'Borel', cursive;
    text-decoration: underline;}


#test { color:darkred;}
    .secondtest {color:lightblue;}

    <


